   {% extends '../admin-layout/base.html' %}
{% load static %}

   <div class="container mt-4">
         <div class="row">
            <div class="col-md-4">
               <div class="card p-3 text-center">
                  <h5>👤 Participants</h5>
                  <h3 id="totalParticipants">0</h3>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card p-3 text-center">
                  <h5>🎟️ Sessions</h5>
                  <h3 id="totalScans">0</h3>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card p-3 text-center">
                  <h5>💰 Sponsors</h5>
                  <h3 id="totalSponsors">0</h3>
               </div>
            </div>
         </div>
         <div class="row mt-4">
            <div class="col-md-6">
               <div class="card p-3">
                  <h5>📊 Rôles</h5>
                  <canvas id="roleChart"></canvas>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card p-3">
                  <h5>📈 Sessions</h5>
                  <canvas id="sessionChart"></canvas>
               </div>
            </div>
         </div>
      </div>