 {% load static %}
{% load i18n %}
<ul class="navbar-nav m-auto">
    <li class="nav-item">
        <a href="#" class="nav-link py-3">Accueil</a>
        <div class="drop-down">
            <div class="row drop-down-wrap g-0">
                <div class="col-7">
                    <ul class="drop-down-menu">
                        <li class="dropdown-item d-flex align-items-center">
                            <div class="item-icon">
                                <img src="{% static 'assets/images/icon/icon.svg' %}" alt="icon Images">
                            </div>
                            <a href="#" class="item-content">
                                <h5 class="item-title">Télécharger l'Appli mobile</h5>
                                <span class="item-sub">application</span>
                            </a>
                        </li>
                        <li class="dropdown-item d-flex align-items-center">
                            <div class="item-icon">
                                <img src="{% static 'assets/images/icon/icon2.svg' %}" alt="icon Images">
                            </div>
                            <a href="https://abmci.com/donation" class="item-content">
                                <h5 class="item-title">Soutenir la Conference</h5>
                                <span class="item-sub">Soutenir</span>
                            </a>
                        </li>
                        <li class="dropdown-item d-flex align-items-center">
                            <div class="item-icon">
                                <img src="{% static 'assets/images/icon/icon3.svg' %}" alt="icon Images">
                            </div>
                            <a href="http://abmci.com" class="item-content">
                                <h5 class="item-title">Les Eglises ABMCI</h5>
                                <span class="item-sub">Sessions ABMCI</span>
                            </a>
                        </li>
                        <li class="dropdown-item d-flex align-items-center">
                            <div class="item-icon">
                                <img src="{% static 'assets/images/icon/icon4.svg' %}" alt="icon Images">
                            </div>
                            <a href="https://abmci.com/nous-contacter" class="item-content">
                                <h5 class="item-title">Nous contacter</h5>
                                <span class="item-sub">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-5">
                    <div class="dropdown-thumb position-relative"
                         style="background-image: url({% static 'assets/images/mensa+otabil2.png' %});">
{#                        <a class="dropdown-sub position-absolute" href="#"><span>Register Now</span></a>#}
                    </div>
                </div>
            </div>
        </div>
    </li>
   <li class="nav-item">
                                 <a href="#about" class="nav-link py-3">CA 2025</a>
                              </li>
                              <li class="nav-item">
                                 <a href="#schedule" class="nav-link py-3"> Programme</a>
                              </li>
{#                              <li class="nav-item">#}
{#                                 <a href="#sponsors" class="nav-link py-3"> Partenaires</a>#}
{#                              </li>#}
                              <li class="nav-item">
                                 <a href="#speakers" class="nav-link py-3"> Orateurs</a>
                              </li>
                              <li class="nav-item">
                                 <a href="#pricing" class="nav-link py-3"> Ateliers</a>
                              </li>

{#    <li class="nav-item">#}
{#    <form action="{% url 'set_language' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <select class="form-control nav-item" name="language" onchange="this.form.submit()">#}
{#            {% get_current_language as LANGUAGE_CODE %}#}
{#            {% get_available_languages as LANGUAGES %}#}
{#            {% for lang_code, lang_name in LANGUAGES %}#}
{#                <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>#}
{#                    {% if lang_code == 'en' %}#}
{#                        🇬🇧 {{ lang_name }}#}
{#                    {% elif lang_code == 'fr' %}#}
{#                        🇫🇷 {{ lang_name }}#}
{#                    {% else %}#}
{#                        {{ lang_name }}#}
{#                    {% endif %}#}
{#                </option>#}
{#            {% endfor %}#}
{#        </select>#}
{#    </form>#}
{#</li>#}

</ul>